#logo {
   color: red;
   font-style: italic;
   font-weight: bold;
   font-family: 'Cursive', sans-serif;
   font-size: 35px;
}

body{
   background: url("../images/cinema.jpg");
   height:1500px;
   border: 3px solid black;
   background-repeat: no-repeat;
   background-position: center;
   background-attachment:scroll ;
}

#jumbo{
   background-color: rgb(200, 9, 9);
}
